extends layout

block content
  h1= title
  p Welcome #{identity.traits.email}
  a(href='/logout') Logout
  a(href='/manager/global') Become a global manager
  a(href='/manager/area') Become a area manager
  a(href='/manager/route') Become a route manager

